*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
    
  }
  
  .App{
    background-color: #fff4e6;
    height: 100vh;

  }
  html {
    font-size: 62.5%;
  }
  

 
  

  
  .heading{

  margin-bottom: -6rem;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: start;
  letter-spacing: 0.5rem; 
  text-shadow:  10px 10px 10px rgba(0, 0, 0, 0.5); 
  
  position: relative;
  
  }
/* 
  .heading::after{
    position: absolute;
    left: 0px;
    content: "";
    color: #212529;
    top:-1.5rem;
    height: 2.2rem;
    width: 18.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  background-color:#e8590c;
  opacity: 0.8;

  } */

  /* .heading::before{
    position: absolute;
    left: 0px;
    content: "";
    top:4rem;
    height: 2.2rem;
    width: 18.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  background-color:#e8590c;
  opacity: 0.8;

  } */

  /* .wheels{
    display: flex;
    overflow: hidden;
    position: relative;
  } */

  .wheel1{
    position: absolute;
    left: 5rem;
    content: "";
    top:8.2rem;
    height: 2rem;
    width: 4rem;
border-bottom-right-radius:100%;
border-bottom-left-radius: 100%;
  background-color: #212529;
  opacity: 0.8;
  

  }

  .wheel2{
    position: absolute;
    left: 15.5rem;
    content: "";
    top:8.2rem;
    height: 2rem;
    width: 4rem;
    border-bottom-right-radius:100%;
    border-bottom-left-radius: 100%;
  background-color:#212529;
  opacity: 0.8;

  }

  /* .heading::before{
    position: absolute;
    left: 5rem;
    content: "";
    top:4rem;
    height: 2.2rem;
    width: 13.5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  background-color: #087f5b;
  opacity: 0.8;

  } */
  
  
  
  
 